p{
    text-align: left;
    color: black;
}

h2{
    text-align: left;
    color: black;

}

body {
color: black;
}

h1 {
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: dodgerblue;
    background-size: auto;
    position: relative;
    top: 0; /*ziet er netter uit*/
    
}

ul li {
    float: left;
} 

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    transition: background-color 0.3s; /* Wanneer je nu met je muis over het 'blokje' gaat, is er een soort vertraging waardoor het er
    mooier uitziet */
}

ul li a:hover {
    background-color: darkblue;
}

.Binair {
    color: black;
}

h1.inv {
    color: black;
}

iframe {
 position: relative; left: auto;
}

section.HIGGS {
    background-image: url(Pictures/gammagamma_run194108_evt564224000_ispy_3d-annotated-2.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 4s ease; /*zorgt ervoor dat de overgang vloeiend is*/
}
section.Feynman {
    background-image: url(Pictures/image\ copy.png); /* Vervang door een andere afbeelding */
    /* color: yellow;  Of verander de tekstkleur */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 4s ease; /*zorgt ervoor dat de overgang vloeiend is*/
}

section.Lepton {
    background-image: url(Pictures/DrFeynman.png);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 4s ease;
}

section.Compressie {
    background-image: url(Pictures/Compressie.png);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    align-items: center;
    justify-content: center; /* zorgt ervoor dat items langs de centrale as worden gecentreerd langs de gebruike lijn van de flex container. */
    display: flex;
}
p.HIGGS { color: white;}

h1.HIGGS {text-align: center; /*Zo staat de text in het midden*/
    color:white}

/*div {
  width: 300px;
  border: 20px solid dodgerblue;
  padding: 50px;
  margin: 20px;
  position: relative; right: auto;
}
  */
div.ik {
    width: 800px;
    height: 600px;
    border: 15px solid darkblue;
    background-color: black;
    background: rgba(0, 0, 0, 0.772);
    padding: 2px;
    margin: 100px auto; /* De text zelf moet in het midden komen, dus gebruik ik voor de margin twee getallen*/
    overflow: hidden;
    box-sizing: border-box;
}
div.strange {
    width: auto;
    height: auto;
    border: 20px solid dodgerblue;
    background-color: none;
    padding: 20px;
    margin: auto;
    overflow: hidden;
}
div.Feynman {
    width: 800px;
    height: fit-content;
    border: 15px solid darkblue;
    background-color: white;
    background: rgba(255, 254, 254, 0.527); /* Via rgba kan je de achtergrond doorzichtig maken, door een rgba color scheme te gebruiken en daar dan een vierde nummer toe te voegen die de transparantie aangeeft*/
    padding: 0;
    margin: 100px auto;
    overflow: hidden;
    box-sizing: border-box;
}

/* Deze doet op dit moment niet zo heel veel!*/
body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: background-color 1s ease, color 1s ease;
}
h1.feynman {
    color: black;
    text-align: center; /*tekst in het midden*/
}
p.Feynman { color: black;}

ul.Feynman{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; /* zorgt voor verticale opstelling */
  position: relative; /*Met een position: fixed; command blijft het menu op het scherm, ondanks dat je naar beneden scrollt.*/
  top: 0;
}

p.item {
    padding-top: 120px; /*zo zorg je ervoor dat de tekst (het kopje kleurmodellen) niet achter het menu versopt zit!*/
}

section.kleurmodel {
    margin-left: 0.5cm;
}

iframe { margin-left: auto;}

p.Compressie {
    color: black; /*tekstkleur*/
}

footer { 
    background-color: #333333;     /* achtergrond */
    color: white;                  /* witte tekst */
    text-align: center;            /* in het midden */
    padding: 5px 20px;           /* ruimte in het blok aan de boven/onderkant en de zijkanten */
    font-size: 14px;             /* tekstgrootte */
    margin-top: 0;            /* er moet geen ruimte zitten tussen de footer en de laatste afbeelding */
    position: relative;          /* relatieveren aan dezelfde plek als de rest van de tekst en plaatjes */
    width: auto; 
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 verhouding */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000; /* zwart als achtergrond */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
