p{
    text-align: center;
}
h2{
    text-align: center;

}
body {
color: dodgerblue;
}
h1 {
    color: white;


}
h3{
    text-align:right
}
ul.a {
    list-style-type: none;
    margin: 0;
    padding: 20;
    overflow: hidden;
    background-color: white;
    position: fixed;


}
ul.li {
    float: left;
}
ul.li.a {
    display: block;
    color: dodgerblue;
    text-align: center;
    padding: 0;
    text-decoration: none;
}